.commentContainer {
    border: 1px solid #3389f3;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    position: relative;
}
  
.commentUser {
    font-weight: bold;
    margin-bottom: 5px;
    
}
  
.commentText {
    margin: 5px 0;
    font-size: 1rem;
}
  
.commentTime {
    font-size: 0.875rem;
    color: gray;
}